<%= stylesheet_link_tag "genre", "data-turbo-track": "reload" %>

<div class="genre-form">

  <h1>ジャンル登録</h1>

  <%= form_with url: admin_update_genre_path,
                method: :patch,
                local: true do %>

    <% 5.times do |index| %>
      <% genre = @genres[index] %>

      <div class="genre-field">
        <%= label_tag "genre_names_#{index}", "ジャンル#{index + 1}" %>

        <%= text_field_tag "genre_names[]",
                           genre&.genre_name,
                           id: "genre_names_#{index}" %>
      </div>
    <% end %>
    

    <div class="genre-submit">
      <%= submit_tag "登録" %>
    </div>

  <% end %>

</div>
