<div class="quiz-container">

  <div class="question-text">
    <div class="question-head">

      <div class="number-text">
         問<%= @question_number %>
      </div>

      <div class="genre-text">
        <%= @question&.genre&.genre_name || "ジャンル名" %>
      </div>

    </div>

    <div class="question-body">
      <%= @question&.body || "ここに問題文が入ります" %>
    </div>
  </div>


  <%= form_with url: game_next_path, method: :post do |form| %>
    <div class="answer-buttons">
      <% @choices.each do |choice| %>
        <label class="answer-button">
          <%= form.radio_button :user_answer, choice %>
          <%= choice %>
        </label>
      <% end %>
    </div>

    <div class="page-buttons">
      <%= form.submit "次の問題 ＞", class: "page-button" %>
    </div>
  <% end %>

  <%= button_to "＜ 前の問題", game_back_path, method: :post, class: "page-button" %>
</div>