<div class="quiz-container">

  <div class="question-text">
    <div class="question-head">

      <div class="number-text">
        問<%= @question_number %>
      </div>

      <div class="genre-text">
        <%= @question&.genre&.genre_name || "ジャンル名" %>
      </div>

    </div>

    <div class="question-body">
      <%= @question&.body || "ここに問題文が入ります" %>
    </div>
  </div>

  <%= form_with url: game_next_path, method: :post, class: "quiz-form" do |form| %>

    <div class="answer-buttons">
      <% @choices.each_with_index do |choice, index| %>
        <% id = "choice_#{index}" %>

        <%= form.radio_button :user_answer, choice, id: id %>
        <%= form.label :user_answer, choice, for: id, class: "answer-button" %>
      <% end %>
    </div>

    <div class="page-buttons">
      <%= form.button "＜ 前の問題",
          type: "submit",
          formaction: game_back_path,
          formmethod: "post",
          formnovalidate: true,
          class: "page-button" %>

      <%= form.button "次の問題 ＞",
          type: "submit",
          class: "page-button" %>
    </div>

  <% end %>
</div>