<div class="result-page">

  <div class="result-container">

    <h1 class="result-title">クイズ結果</h1>

    <div class="genre-box">
      <h3 class = "box-title">ジャンル</h3>
      <h2><%= @genre.genre_name %></h2>
    </div>

    <div class="score-box">
      <h3 class = "box-title">正解数</h3>
      <h2> <%= @correct_count %> / <%= @question_count %></h2>
    </div>

    <div class="comment-box">
    <h3 class = "box-title">コメント</h3>
      <p><%= @comment %></p>
    </div>

    <div class="button-area">
      <%= button_to "リトライ", game_quiz_path, method: :post, class: "result-button" %>
      <%= button_to "トップへ", root_path, method: :get, class: "result-button" %>
    </div>

  </div>
</div>