<%= stylesheet_link_tag "top", "data-turbo-track": "reload" %>

<div class="top-container">

  <%= form_with url: game_quiz_path, method: :get, local: true do %>
    <div class="genre-select">

     <% @genres.each_with_index do |genre, index| %>

        <%= radio_button_tag :genre_id,
                             genre.id,
                             index.zero?,
                             class: "genre-radio",
                             id: "genre_#{genre.id}" %>

        <%= label_tag "genre_#{genre.id}",
                      genre.genre_name,
                      class: "genre-button" %>

      <% end %>
    </div>

    <div class="question-select">

        <%= radio_button_tag :question_count, 5, true, class: "question-radio" %>
        <%= label_tag :question_count_5, "5問", class: "question-button" %>

        <%= radio_button_tag :question_count, 10, false, class: "question-radio" %>
        <%= label_tag :question_count_10, "10問", class: "question-button" %>

        <%= radio_button_tag :question_count, 20, false, class: "question-radio" %>
        <%= label_tag :question_count_20, "20問", class: "question-button" %>

    </div>


    <div class="start-button">
      <%= submit_tag "スタート" %>
    </div>

  <% end %>

</div>
